
<div class="row">
  <aside class="span4">
    <section>
      <h1>
       
       
	
</div>

      </h1>
       <div>
        <div class="bg_verse">
        <%= raw(@verse.c2ptext) %>
        </div>
          <ul class="pager">
  <li class="previous"><a href="#">Previous</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>
    </section>
  </aside>
</div>
