
<div class="row">
  <aside class="span4">
    <section>
      <h1>
       <div class="bg_verse">
        <%= @verse.docid %>
        <%= raw(@verse.c2ptext) %>
        
		<ul class="pager">
  <li class="previous"><a href="#">Previous</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>
</div>

      </h1>
    </section>
  </aside>
</div>
